<launch>
  <arg name = "offset_x"    default = "0.000418491"/>
  <arg name = "offset_y"    default = "0.0158404"/>
  <arg name = "offset_z"    default = "0.0101612"/>
  <!-- <arg name = "offset_x"    default = "0.0"/>
  <arg name = "offset_y"    default = "0.0"/>
  <arg name = "offset_z"    default = "-0.01"/> -->
  <arg name = "ref_frame"   default = "PSM1_tool_tip_link"/>
  <arg name = "tip_frame"   default = "cautery_tip"/>

  <node pkg="tf" type="static_transform_publisher" name="front_to_cautery" 
        args="$(arg offset_x) $(arg offset_y) $(arg offset_z) 0 0 0 1 $(arg ref_frame) $(arg tip_frame) 100" />

  

</launch>
