<launch>
  <!-- (start your robot's MoveIt! stack, e.g. include its moveit_planning_execution.launch) -->
  <!-- (start your tracking system's ROS driver) -->

  <include file="$(find easy_handeye)/launch/calibrate.launch">
    <arg name="eye_on_hand"             value="true"/>
    <arg name="namespace_prefix"        value="dvrk"/>
    <arg name="freehand_robot_movement" value="true" />

    <!-- fill in the following parameters according to your robot's published tf frames -->
    <arg name="robot_base_frame"      value="PSM1_base"/>
    <arg name="robot_effector_frame"  value="PSM1_tool_main_link"/>

    <!-- fill in the following parameters according to your tracking system's published tf frames -->
    <arg name="tracking_base_frame"   value="camera"/>
    <arg name="tracking_marker_frame" value="marker"/>
  </include>

  <node pkg = "nir_blob_tracker" type ="tf_inverter" name ="tf_inverter">
       <!-- This takes the name from the ROS Atracsys system-->
       <param name = "listen_frame_a"  value = "atracsys" />
       <param name = "listen_frame_b"  value = "instrument_rear" />
       <!-- This will be used by the hand_to_eye node-->
       <param name = "new_frame_a"     value = "camera" />
       <param name = "new_frame_b"     value = "marker" />
  </node>

</launch>