<?xml version="1.0"?>
    <!--
        PSM1_tool_main_link -> 
        instrument_rear_calibrated_offset -> 
        fusion_track -> 
        fusion_track_instrument_front -> 
        cautery_tip
    -->

<launch>
    <arg name   =   "eye_on_hand"           doc   = "eye-on-hand instead of eye-on-base" />
    <arg name   =   "namespace_prefix"      default = "dvrk" />
    <arg if     =   "$(arg eye_on_hand)"    name    = "namespace"       value = "$(arg namespace_prefix)_eye_on_hand" />
    <arg unless =   "$(arg eye_on_hand)"    name    = "namespace"       value = "$(arg namespace_prefix)_eye_on_base" />

    <!--it is possible to override the link names saved in the yaml file in case of name clashes, for example-->
    <arg if         = "$(arg eye_on_hand)"  name    = "robot_effector_frame" default = "PSM1_tool_main_link" />
    <arg unless     = "$(arg eye_on_hand)"  name    = "robot_base_frame"     default = "" />
    <arg name       = "tracking_base_frame"                                  default = "instrument_rear_calibrated_offset" />
    
    <arg name="inverse"          default="false" />
    <arg name="calibration_file" default="" />


    <!--publish hand-eye calibration-->
    <group ns="$(arg namespace)">
        <param name="eye_on_hand"          value="$(arg eye_on_hand)" />
        <param unless="$(arg eye_on_hand)" name="robot_base_frame"     value="$(arg robot_base_frame)" />
        <param if="$(arg eye_on_hand)"     name="robot_effector_frame" value="$(arg robot_effector_frame)" />
        <param name="tracking_base_frame"                              value="$(arg tracking_base_frame)" />
        <param name="inverse"                                          value="$(arg inverse)" />
        <param name="calibration_file"                                 value="$(arg calibration_file)" />
        <node name="$(anon handeye_publisher)" pkg="easy_handeye" type="publish.py" output="screen"/>
    </group>

    <node pkg = "nir_blob_tracker" type ="tf_inverter" name ="tf_inverter_rear_to_fusion">
        <!-- This takes the name from the ROS Atracsys system-->
        <param name = "listen_frame_a"  value = "atracsys" />
        <param name = "listen_frame_b"  value = "instrument_rear" />
        <!-- This will be used by the hand_to_eye node-->
        <param name = "new_frame_a"     value = "instrument_rear_calibrated_offset" />
        <param name = "new_frame_b"     value = "fusion_track" />
    </node>

    <node pkg = "nir_blob_tracker" type ="tf_renamer" name ="tf_renamer_fusion_to_front">
        <param name = "listen_frame_a"  value = "atracsys" />
        <param name = "listen_frame_b"  value = "instrument_front" />
        <param name = "new_frame_a"     value = "fusion_track" />
        <param name = "new_frame_b"     value = "fusion_track_instrument_front" />
    </node>


</launch>
