<!--
	The launch file is to launch a frame transformation to create tf 
	from rcm to cautery tip

	Notice:  You will need the Atracsys running 
-->
<launch>

    <!-- TF relationship
        PSM1_tool_main_link -> 
		instrument_rear_calibrated_offset -> 
		fusion_track -> 
		fusion_track_instrument_front -> 
		cautery_tip
    -->

	

    <include file ="$(find tool_point_calibration)/launch/dvrk/dvrk_tf_br_easy_hand_eye.launch">
		<arg name ="eye_on_hand"   value = "true"/>
	</include> 


    <include file ="$(find tool_point_calibration)/launch/dvrk/dvrk_tf_br_tip.launch">
		<arg name ="ref_frame"   value = "fusion_track_instrument_front"/>
        <arg name ="tip_frame"   value = "cautery_tip"/>
	</include> 

</launch>